@inject IJSRuntime JsRuntime
@*@implements IDisposable*@

@*<div id="clock" @ref="timeDiv">00:00</div>*@

@*<div id="clock" @ref="timeDiv">00:00</div>*@





@code {
    //ElementReference timeDiv;

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await JsRuntime.InvokeVoidAsync("startTime", timeDiv);
    //    }
    //}

    

    //public void Dispose()
    //{
    //    JsRuntime.InvokeVoidAsync("stopTime");
    //}
}
